.scroll-top {
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 100px;
  height: 40px;
  width: 40px;
  z-index: 3;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 8px;
  animation: move 2s infinite;

  span {
    line-height: 40px;
    color: var(--white);
    animation: move 1s infinite;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }

  }

}

