.modal-dialog {
  max-width: 800px; /* đặt độ rộng tối đa cho Modal */
  width: 100%; /* đặt chiều rộng của Modal là 100% để tận dụng không gian */
}

.product-add {
  width: 100%;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #07779a;
  color: #fff;

  span {
    margin-right: 5px;
  }

  &:hover {
    background-color: #08617a;
    color: #fff;
  }
}

.product-action {
  margin-bottom: 5px;
  .action-input {
    width: 100% !important;
    height: 36px !important;
    background: var(--text-primary) !important;
    color: #fff;
    font-size: 16px;
  }

}

.product-remove {
  @extend .product-add;
  background-color: #dc3545;

  &:hover {
    background-color: #bb2d3b;
    color: #fff;
  }
}