.swiper-wrapper {
  .swiper-slide {
    position: relative;

    span {
      img {
        height: 325px !important;
        border-radius: 6px;

        @media screen and (max-width: 450px) {
          width: fit-content;
        }
      }

    }


    .banner-content {
      position: absolute;
      top: 0;
      padding: 54px 54px;
      width: 500px;

      @media screen and (max-width: 450px) {
        width: 300px;
        padding: 10px;
      }

      h2 {
        font-size: 30px !important;
        margin-bottom: 40px;
        text-transform: capitalize;
        color: #39404A;
        font-weight: 500;

        @media screen and (max-width: 450px) {
          font-size: 30px !important;
          line-height: 44px;
        }
      }

      a {
        span {
          margin-right: 4px;
        }
      }
    }
  }
}

.swiper-pagination {
  transform: translateY(-18px) !important;
}




