.order-part {
  .container {
    .orderlist {
      margin-bottom: 30px;
      border-radius: 8px;
      background: var(--white);
      padding: 30px 30px;

      @media screen and (max-width: 575px) {
        padding: 0 15px 15px;
      }

      .orderlist-body {
        .table-scroll {
          width: 100%;
          @media screen and (max-width: 1199px) {
            overflow-x: scroll;
          }

          .table-list {
            width: 100%;

            thead {
              tr {
                background: var(--primary);
                text-align: center;


                th {
                  color: var(--white);
                  font-size: 17px;
                  padding: 12px 20px;
                  border-right: 1px solid var(--white);

                  @media screen and (max-width: 575px) {
                    font-size: 14px !important;
                  }

                  &:first-child {
                    border-radius: 6px 0 0 0;
                  }

                  &:last-child {
                    border-radius: 0 6px 0 0;
                  }
                }

              }
            }

            tbody {
              tr {
                border: 1px solid var(--gray-chalk);

                td:nth-child(3) {
                  color: var(--red);
                }

                td {
                  color: var(--text);
                  text-align: center;

                  @media screen and (max-width: 575px) {
                    font-size: 14px !important;
                  }

                  &:not(:last-child) {
                    text-align: center;
                    padding: 15px 25px;
                    border: 1px solid var(--gray-chalk);

                    @media screen and (max-width: 575px) {
                      padding: 5px 15px;
                    }
                  }

                  a {
                    color: #0d6efc !important;

                    &:hover {
                      color: var(--text-hover) !important;
                    }

                    i {
                      margin-left: 5px;
                    }
                  }

                  span {
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 5px;
                    background: var(--chalk);
                    padding: 5px 7px;
                    cursor: pointer;
                    border-radius: 5px;

                    &:first-child {
                      color: var(--green);

                      &:hover {
                        background: var(--green);
                        color: var(--white);
                      }
                    }

                    &:last-child {
                      color: var(--red);

                      &:hover {
                        background: var(--red);
                        color: var(--white);
                      }
                    }


                  }

                }
              }
            }
          }
        }
      }
    }
  }
}