.col {
  @media screen and (max-width: 450px) {
    padding: 0 4px;
  }

  .product-card {
    width: 100%;
    padding: 15px 18px;
    border-radius: 8px;
    background-color: var(--white);
    overflow: hidden;
    border: 1px solid var(--white);
    position: relative;

    @media screen and (max-width: 575px) {
      padding: 8px;
      margin-bottom: 10px;

      .product-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h6 {
          font-size: 15px !important;
          line-height: 22px;
        }
      }

    }


    &:hover {
      transition: linear 0.2s;
      border: 1px solid var(--primary);
      box-shadow: 0 8px 15px 0 rgb(0 0 0 / 10%);

      .product-content {
        .product-add {
          transition: linear 0.2s;
          background-color: var(--primary);
          color: var(--white);
        }
      }

      .product-media {
        .grid-image {
          .quick-preview {
            transition: linear 0.2s;
            top: 50%;
            opacity: 1;
          }
        }
      }
    }

    .product-media {
      position: relative;

      .grid-image {
        height: 270px;
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;

        @media screen and (max-width: 1200px) {
          height: 180px;
        }

        @media screen and (max-width: 575px) {
          height: 175px;
        }

        @media screen and (max-width: 415px) {
          height: 185px;
        }

        @media screen and (max-width: 376px) {
          height: 170px;
        }

        .product-label {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          background: var(--red);
          border-radius: 5px;

          label {
            padding: 0 7px;
            display: inline-block;
            color: var(--white);
            font-size: 14px;
            text-transform: capitalize;
          }
        }

        .red {
          background: var(--red);
        }

        .purple {
          background: var(--purple);
        }

        .green {
          background: var(--green);
        }


        .product-like {
          position: absolute;
          right: 0;
          color: var(--gray-chalk);
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: var(--text-hover);
          }
        }

        .compare {
          @extend .product-like;
          right: 30px;

          @media screen and (max-width: 995px) {
            display: none;
          }
        }

        .quick-preview {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;

          span {
            text-align: center;
            border: 1px solid #3b5998;
            padding: 7px 15px;
            background-color: #3b5998;
            color: var(--white);

            &:hover {
              background-color: var(--text-hover);
            }
          }
        }

      }
    }

    .active-like, .active-compare {
      color: var(--text-primary) !important;
    }

    .product-content {
      text-align: center;

      .product-rating {
        margin-bottom: 4px;

        span {
          padding-right: 5px;
          font-size: 14px;
          color: var(--gray);
        }
      }

      .product-price {
        margin-bottom: 4px;

        del {
          color: red;
          margin-right: 8px;
          font-weight: 600;
        }

        span {
          color: var(--black);
          font-weight: 600;
        }
      }

      .product-add {
        width: 100%;
        height: 38px;
        padding: 5px 10px;
        border-radius: 8px;
        background-color: var(--boder);
        color: var(--heading);

        span {
          margin-right: 5px;
        }
      }

      .product-action {

        .action-input {
          width: 70%;
          height: 36px;
          background: var(--primary);
          color: var(--white);
          font-size: 16px;
        }
      }
    }

  }
}
