.checkout-part {
  .container {
    .account-card {
      margin-bottom: 30px;
      border-radius: 8px;
      background: var(--white);
      padding: 0 30px 30px;

      @media screen and (max-width: 991px) {
        padding: 0 15px 15px;
      }

      .account-title {
        margin-bottom: 40px;
        padding: 18px 0;
        border-bottom: 1px solid #ccc;
        position: relative;

        &:before {
          content: '';
          height: 3px;
          width: 50px;
          background-color: var(--primary);
          position: absolute;
          bottom: -2px;
        }

        h3 {
          font-weight: 600;
        }
      }

      .account-content {

        .table-wrapper {
          width: 100%;

          @media screen and (max-width: 1199px) {
            overflow-x: scroll;
          }

          table {
            width: 100%;
            border-radius: 5px;

            thead {
              tr {
                background: var(--text-primary);
                text-align: center;

                th {
                  color: var(--white);
                  font-size: 17px;
                  padding: 12px 20px;
                  border-right: 1px solid var(--white);

                  @media screen and (max-width: 575px) {
                    font-size: 14px !important;
                  }

                  &:first-child {
                    border-radius: 6px 0 0 6px;
                  }

                  &:last-child {
                    border-radius: 0 6px 6px 0;
                  }
                }

              }
            }

            tbody {
              tr {
                border-bottom: 1px solid var(--gray-chalk);

                .mobile-edit-btn {
                  display: none;

                  @media screen and (max-width: 991px) {
                    display: inline-block;
                    color: var(--green);
                  }
                }

                td:nth-child(2) {
                  width: 30%;

                  a {
                    color: #0d6efd;
                  }
                }

                td {
                  color: var(--black);
                  font-weight: 500;

                  @media screen and (max-width: 575px) {
                    font-size: 14px !important;
                  }

                  &:not(:last-child) {
                    text-align: center;
                    padding: 15px 25px;
                    border-right: 1px solid var(--gray-chalk);

                    @media screen and (max-width: 991px) {
                      padding: 5px 10px;
                    }

                  }

                  &:last-child {
                    span:first-child {
                      @media screen and (max-width: 991px) {
                        display: none;
                      }
                    }
                  }

                  img {
                    width: 50%;
                    height: 80px;

                    @media screen and (max-width: 991px) {
                      width: 100%;
                    }
                  }

                  text-align: center;

                  span {
                    display: inline-block;
                    font-size: 20px;
                    margin-right: 5px;
                    background: var(--chalk);
                    padding: 5px 7px;
                    cursor: pointer;
                    border-radius: 5px;

                    &:first-child {
                      color: var(--green);

                      &:hover {
                        background: var(--green);
                        color: var(--white);
                      }
                    }

                    &:last-child {
                      color: var(--red);

                      &:hover {
                        background: var(--red);
                        color: var(--white);
                      }
                    }

                  }

                  .cart-action-group {
                    .product-action {
                      input {
                        height: 35px;
                        background: var(--primary);
                        color: var(--white)
                      }

                      .action-plus span {
                        &:hover {
                          background: var(--green) !important;
                        }
                      }
                    }
                  }

                }
              }
            }
          }
        }

        .checkout-coupon {
          width: 600px;
          margin: 45px auto 5px;
          text-align: center;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          h3 {
            color: var(--text-primary) !important;
            font-size: 15px;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }

          .coupon-form {
            padding: 3px;
            border-radius: 8px;
            margin-bottom: 18px;
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            position: relative;
            border: 1px solid #ccc;

            &:focus-within {
              border-color: var(--primary);
            }

            input {
              width: 100%;
              border-radius: 5px;
              background: var(--white);
              height: 40px;
              padding: 5px 10px 0;

            }

            button {
              border-radius: 5px;
              background: var(--primary);
              height: 38px;
              color: var(--white);
              padding: 5px 25px;
              position: absolute;
              right: 4px;
              bottom: 4px;
            }
          }
        }

        .checkout-detail {
          width: 600px;
          margin: 20px auto 5px;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          ul {
            border-top: 2px solid var(--primary);
            padding-left: 0;

            li {
              padding: 15px 15px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &:not(:first-child) {
                border-top: 1px solid #e8e8e8;
              }

              span {
                color: #000;
                font-weight: bold;
              }

              &:last-child {
                span {
                  font-size: 18px;
                  color: var(--text-primary);
                }
              }
            }
          }
        }

        .profile-card {
          background: #f5f5f5;
          //height: 100px;
          padding: 25px;
          border-radius: 8px;
          cursor: pointer;
          border: 1px solid var(--white);
          margin-bottom: 25px;


          &:hover ul {
            opacity: 1;
            visibility: unset;
          }

          &.active {
            z-index: 1;
            background: #ddffd5;
            border: 1px solid var(--text-primary);
          }

          ul {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 15px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50%);


            li {
              margin: 5px 0px;

              .edit {
                width: 30px;
                height: 32px;
                line-height: 32px;
                border-radius: 6px;
                text-align: center;
                display: inline-block;
                background: var(--white);
                text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);;

                &:hover {
                  background: green;
                  color: var(--white);
                }
              }
            }
          }

          h3 {
            font-size: 18px;
            font-weight: 500;
            color: #000;
            margin-bottom: 8px;
          }

          p {
            font-size: 16px !important;
          }
        }

        .details-list-group {
          .details-tag-list {
            padding-left: 0;
            margin-bottom: 0;

            .form-check {
              display: block;
              min-height: 1.5rem;
              margin-bottom: .25rem;
              padding-left: 0;

              input {
                margin-right: 10px;

                &:checked {
                  background-color: var(--primary);
                  border-color: var(--primary);
                }
              }

              label {
                font-size: 16px;
              }
            }

          }

        }

        .checkout-check {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 25px;
          margin-top: 30px;

          input {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-top: 4px;
            cursor: pointer;
          }

          label {
            line-height: 22px;

            a {
              color: var(--text-primary);
            }
          }
        }

        .checkout-proceed {
          button {
            width: 100%;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 14px 32px;
            border-radius: 6px;
            border: 2px solid var(--text-primary);
            background: var(--text-primary);
            color: var(--white);

            &:hover {
              background: var(--white);
              color: var(--text-hover);
            }

            span svg {
              margin-right: 5px;
              animation: spin 1s linear infinite; /* loading spinner */
            }
          }
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}