.news-part {
  background: #0d6efc;
  background-size: cover !important;
  padding: 70px 0px;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(1, 45, 74, 0.8), rgba(2, 149, 246, 0.8));
    z-index: -1;
  }

  .container {
    .news-text h3 {
      font-size: 35px !important;
      color: var(--white);
      margin-bottom: 5px;

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
        font-size: 28px !important;
      }
    }

    .news-form {
      width: 100%;
      padding: 6px;
      border-radius: 8px;
      background: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 767px) {
        padding: 2px;
      }

      input {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        line-height: 50px;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }

      }

      button {
        width: 65%;
        font-size: 14px;
        font-weight: 500;
        padding: 12px 10px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        color: var(--white);
        background: var(--primary);

        @media screen and (max-width: 767px) {
          width: 50%;
          padding: 8px 6px;
          font-size: 11px;
        }

        .dots-1 {
          aspect-ratio: 4;
          clip-path: inset(0 100% 0 0);
          animation: d1 1s steps(4) infinite;
        }

      }

      @keyframes d1 {
        to {
          clip-path: inset(0 -34% 0 0)
        }
      }

    }
  }
}