.new-item-part {
  .container {
    overflow: hidden;

    .section-heading {
      h2 {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: 767px) {
          font-size: 28px !important;
          margin-bottom: 30px;
        }
      }
    }


    .section-items {
      position: relative;

      .wrapper {
        display: flex;
      }

      &:hover {
        .prev, .next {
          visibility: visible;
          transition: linear 0.2s;
        }
      }

      .prev {
        color: var(--primary);
        position: absolute;
        top: 47%;
        z-index: 2;
        left: -7px;
        background-color: var(--white);
        padding: 10px;
        border-radius: 50%;
        visibility: hidden;

        &:hover {
          background-color: var(--text-hover);
          color: var(--white);
          box-shadow: 0 8px 15px 0 rgb(0 0 0 / 10%);
        }
      }

      .next {
        color: var(--primary);
        position: absolute;
        z-index: 2;
        top: 47%;
        right: 0;
        background-color: var(--white);
        padding: 10px;
        border-radius: 50%;
        visibility: hidden;

        &:hover {
          background-color: var(--text-hover);
          color: var(--white);
        }
      }

      .product-card {
        width: 92%;
        margin-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: 445px) {
          width: 100%;
        }

        .product-label {
          background-color: green;
        }
      }
    }

    .slick-dots {
      display: none !important;
    }
  }
}