.modal-dialog {
  max-width: 800px; /* đặt độ rộng tối đa cho Modal */
  height: 800px; /* đặt độ rộng tối đa cho Modal */
  width: 100%; /* đặt chiều rộng của Modal là 100% để tận dụng không gian */
}