.feature-part {
  .container {
    .section-heading {
      h2 {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: 767px) {
          font-size: 28px !important;
          margin-bottom: 30px;
        }
      }
    }

    
  }
}